In [1]:
import pandas as pd 
url='https://www.mondovo.com/keywords/travel-keywords'

In [6]:
import requests
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}
r = requests.get(url, headers=header)
dfs = pd.read_html(r.text)

In [15]:
# get the table
df1=dfs[1]

In [42]:
df=df1.rename(columns={1: "Travel Keywords", 2: "Global Monthly Search",3:"Global CPC",4:"Find Related keywords"})
df

,0,Travel Keywords,Global Monthly Search,Global CPC,Find Related keywords
0,Rank,Travel Keywords,Global Monthly Search,Global CPC,Find Related keywords for Free
1,1,electronic system for travel authorization,1000000,$1.24,“electronic system for travel authorization” r...
2,2,travel republic,1000000,$0.09,“travel republic” related keywords
3,3,travel insurance,673000,$7.15,“travel insurance” related keywords
4,4,travel insured,673000,$7.15,“travel insured” related keywords
...,...,...,...,...,...
497,496,travel by bus,1600,$0.44,“travel by bus” related keywords
498,497,travel phrases,1600,$0.28,“travel phrases” related keywords
499,498,travel chanel,1600,$0.26,“travel chanel” related keywords
500,499,travel sayings,1600,$0.07,“travel sayings” related keywords
501,500,travelers stock,1600,$0,“travelers stock” related keywords

In [43]:
# clean up the table
df=df[['Travel Keywords','Global Monthly Search','Global CPC']]

In [44]:
# drop first row since it's headers
df = df.iloc[1:]
df

,Travel Keywords,Global Monthly Search,Global CPC
1,electronic system for travel authorization,1000000,$1.24
2,travel republic,1000000,$0.09
3,travel insurance,673000,$7.15
4,travel insured,673000,$7.15
5,traveling insurance,673000,$7.15
...,...,...,...
497,travel by bus,1600,$0.44
498,travel phrases,1600,$0.28
499,travel chanel,1600,$0.26
500,travel sayings,1600,$0.07
501,travelers stock,1600,$0

In [45]:
# drop row 13 because there's no value
df=df.drop(13)
df

,Travel Keywords,Global Monthly Search,Global CPC
1,electronic system for travel authorization,1000000,$1.24
2,travel republic,1000000,$0.09
3,travel insurance,673000,$7.15
4,travel insured,673000,$7.15
5,traveling insurance,673000,$7.15
...,...,...,...
497,travel by bus,1600,$0.44
498,travel phrases,1600,$0.28
499,travel chanel,1600,$0.26
500,travel sayings,1600,$0.07
501,travelers stock,1600,$0

In [47]:
df.head(15)

,Travel Keywords,Global Monthly Search,Global CPC
1,electronic system for travel authorization,1000000,$1.24
2,travel republic,1000000,$0.09
3,travel insurance,673000,$7.15
4,travel insured,673000,$7.15
5,traveling insurance,673000,$7.15
6,defense travel system,673000,$1.10
7,travels,550000,$1.64
8,travel clubs,246000,$0.06
9,travel quotes,201000,$1.24
10,travel supermarket,201000,$0.19
11,traveler insurance,165000,$2.62
12,travel agencies,165000,$1.91
14,traveling agency,165000,$1.91
15,travel planet,165000,$0.06
16,travelling,135000,$0.94

In [48]:
# save to csv
df.to_csv('cleaned data/search_keywords.csv',index=False)